<h2>Answers</h2>
<%= @answer.errors.full_messages.join(". ") %>
<%# form_for @answer, url: question_answers_path(@question) do |f| %>
<%= form_for [@question, @answer] do |form_helper| %>
  <%= form_helper.text_area :body , cols:"40", rows:"4", placeholder: "Add your answer here..."%>
  <%= form_helper.submit %>
<% end %>

<br>
  <% @question.answers.each do |ans| %>
  <div class="answer-body">
  <span class="answer-author"> By: <%= ans.user_full_name.titleize %> </span>
  <p><%= ans.body %></p>
  <br>
  <br>
  <div>
    <% if can? :destroy, ans %>
    <%= link_to "delete", question_answer_path(@question, ans),
                          data: {confirm: "Are you sure?"},
                          method: :delete,
                          class: 'btn btn-info btn-xs' %>
    <% end %>
  </div>
</div>
  <hr>
<% end %>
