<%= @answer.errors.full_messages.join(". ") %>
<%# form_for @answer, url: question_answers_path(@question) do |f| %>
<%= form_for [@question, @answer] do |form_helper| %>
  <%= form_helper.text_area :body %>
  <%= form_helper.submit %>
<% end %>

<h2>Answers</h2>
  <% @question.answers.each do |ans| %>
  <p> by: <%= ans.user_full_name.titleize %> </p>
  <%= ans.body %>
  <br>
  <br>
  <div>
    <% if can? :destroy, ans %>
    <%= link_to "delete", question_answer_path(@question, ans),
                          data: {confirm: "Are you sure?"},
                          method: :delete %>
    <% end %>
  </div>
  <hr>
<% end %>
