<h1>All Questions</h1>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Question Title</th>
        <th>Creator</th>
        <th>Likes</th>
        <th>Votes</th>
      </tr>
    </thead>
  <% @questions.each do |q| %>
    <tbody>
      <tr>
        <td>    <%= link_to question_path(q) do %>
          <%= q.title %>
      <% if q.image.present? %>
        <%= image_tag q.image.url(:thumb) %>
      <% end %>
    <% end %></td>
        <td><%= q.user_full_name %></td>
        <td><%= q.likes.count %></td>
        <td><%= q.vote_value %></td>
      </tr>
    </tbody>
    <% end %>
  </table>
