<div class="row questionbox">
  <div class="row questionbox-margins">

    <span class="h4">
      <span class="tag-tooltip pull-right label label-danger" data-toggle="tooltip" data-placement="bottom" title="Liked by: <%= @list_of_liked_users  %>"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Likes <span class="badge"><%= @question.likes.count %></span></span>
      <span class="tag-tooltip pull-right label label-danger" style="margin-right:10px" data-toggle="tooltip" data-placement="bottom" title="Voters: <%= @list_of_voting_users  %>"><span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span> Total Votes <span class="badge"><%= @question.vote_value %></span></span>
    </span>

    <span class="h1">
      <%= @question.title %>
    </span>
    <p>Created by: <%= @question.user_full_name.titleize %></p>
  </div>
  <div class="col-lg-10 col-md-8 col-sm-10 col-xs-12">
    <p class="question-body"><%= @question.body %> </p>
    <p style="font-size: 1.2em">View Count: <%= @question.view_count %></p>

    <span>Tags: <% @question.tags.each do |t| %>
      <div class='label label-primary'><%= t.name %></div>
    </span>
    <% end %>
    <br>
    <br>
    <%# can? is a helper method that came from the CanCanCan gem to help us enforce authorization rules in the views and controllers. We didn't specifically put rules for :edit and :destroy but we put a rule for :crud which includes both of them %>
    <% if can? :edit, @question %>
    <%= link_to "EDIT", edit_question_path(@question), class: 'btn btn-info btn-xs' %>
    <% end %>
    &nbsp;
    <% if can? :destroy, @question %>
    <%= link_to "DELETE", question_path(@question),
                          method: :delete,
                          data: {confirm: "Are you dead on sure you want to do this?"},
                          class: 'btn btn-info btn-xs' %>
    <% end %>
    &nbsp;




  <div id="question-like">
    <%= render "/likes/like" %>
  </div>
   <%= render "/questions/votesform" %>

    <hr>

    <h2>Answers</h2>
    <div id="answers">
      <% @question.answers.each do |ans| %>
        <%= render "/answers/answer", answer: ans %>
    <% end %>
  </div>

    <h2>Add An Answer</h2>
    <div id="answer-form">
      <%= render "/answers/form", answer: @answer %>
    </div>

  </div>
</div>
