<!DOCTYPE html>
<html>
<head>
  <title>AwesomeAnswers</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- <a href="<%= home_path %>">Home</a>
|
<a href="<%= about_us_path %>">About</a>
| -->
<!-- The link_to helper method that comes from Rails which generated an <a> HTML element. It takes two primary arguments. The first is for the anchor texto and the second argument is for the "href" value (where you want to link to) -->

<%= render 'shared/navigation' %>

<%# flash[:notice] || flash[:alert] %>

<div id="main-container" class="container">
      <div class="row">
        <div class="col-lg-12">
            <%# flash.each do |key, value| %>
                <%# content_tag :div, class: "alert alert-#{['success','danger'].include?(key) ? 'success' : 'danger'}" do %>
                  <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
                <%# value %>
              <%# end %>
            <%# end %>
            <% flash.each do |key, value| %>
              <div class="alert alert-<%= key %> alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <%= value %>
              </div>
            <% end %>
          <%= yield %>
        </div>
      </div>
    </div>

</body>
</html>
